<!DOCTYPE html>
<html>
<head>
  <title>RailsTemplates</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Aquí debería ir el header-->
<header>
	<%= render "layouts/header"%>
</header>
<%= yield %>
<!-- Aquí debería ir el footer-->
	<footer>
		<%= render "layouts/footer"%>
	</footer>
</body>
</html>
